In [1]:
from platform import python_version
print(python_version())

3.9.12

In [2]:
#pip install SQLAlchemy

In [3]:
#pip install SQLAlchemy==2.0.0

In [4]:
from sqlalchemy import create_engine
import pandas as pd

# SQL BAĞLANTI CÜMLEM

In [26]:
import pandas as pd
import pyodbc 
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP-27PF8U6;'
                      'Database=TestDb;'
                      'Trusted_Connection=yes;')

cursor = conn.cursor()

sql_query = pd.read_sql_query('SELECT * FROM Deneme',conn)
print(sql_query.head(3)) #prints just the top layer of rows to 5 or specified
print(type(sql_query))

   Id      Ad
0   1     Ali
1   2  Mehmet
2   3    Ayşe
<class 'pandas.core.frame.DataFrame'>

In [27]:
data=pd.DataFrame(sql_query)

In [28]:
data

   Id      Ad
0   1     Ali
1   2  Mehmet
2   3    Ayşe
3   4   Fatma
4   5    Test